* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
li a {
  width: 200px;
  height: 40px;
  background: url(imagens/menu.png) no-repeat;
  text-indent: 40px;
  display: block;
  text-decoration: none;
  border: 1px solid orange;
  line-height: 40px;
}
li a:hover, .selecionado a{
  background-position: right;
  color: white;
  background-color: #f99200;
}