* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
.menu_vertical li a {
    width: 200px;
    height: 40px;
    background: #f9b500 url(imagens/menu.png) no-repeat;
    text-indent: 40px;
    display: block;
    text-decoration: none;
    border: 1px solid orange;
    line-height: 40px;
    clear: both;
}
.menu_vertical li a:hover,.menu_vertical .selecionado a{
  background-position: right;
  color: white;
  background-color: #f99200;

}
.menu_horizontal{
    background: #159cb0 url(imagens/fundo-horizontal.png) repeat-x;
    float: left;
}
.menu_horizontal li{
    /* background: url(imagens/fundo-horizontal.png) no-repeat; */
    float: left;
    
}
.menu_horizontal a{
    display: block;
    text-decoration: none;
    background: url(imagens/divisor.png) repeat-y;
    padding: 0 2em;
    line-height: 2.2em;
    color: #fff;
}
.primeiro a{
    background: none;
}
.menu_horizontal a:hover, .menu_horizontal .selecionado a{
    color: #085662;
    background: #44cade;
}